@import './_variables.less';

.banner {
    position: relative;
    padding-bottom: 45px;
    background: url("../images/Banner/banner.jpg");

    &__img {
        position: absolute;
        width: 100%;
        height: 100%;
        object-fit: cover;
        top: 0;
        left: 0;
        z-index: -1;

        img {
            width: 100%;
            height: 100%;
        }
    }

    &__square {
        width: 113px;
        height: 45px;
        background-color: @red;
        margin: 0 73% 0 auto;
    }

    &__content {
        padding: 37px 46px 120px 41px;
        background: rgba(0, 0, 0, 0.70);
        display: flex;
        flex-direction: column;
        gap: 80px;
    }

    &__block {
        display: flex;
        flex-direction: row;
        padding-left: 121px;
    }

    &__design {
        color: @red;
        font-weight: 900;
        line-height: 110%;
        font-size: calc(45px + 37 * @size);
        font-style: normal;
        -webkit-animation: tracking-in-expand 1.5s cubic-bezier(0.215, 0.610, 0.355, 1.000) both;
	    animation: tracking-in-expand 1.5s cubic-bezier(0.215, 0.610, 0.355, 1.000) both;
    }

    &__confa {
        color: @white;
        font-weight: 100;
        font-size: calc(45px + 37 * @size);
        font-style: normal;
        line-height: 110%;
        font-family: HelveticaNeueCyr, sans-serif;
    }

    &__desc {
        margin-top: 4px;
        color: @white;
        font-family: Helvet, sans-serif;
        line-height: 162.5%;
        font-size: 16px;
        font-style: normal;
        font-weight: 400;
    }

    .button--white {
        margin-top: 21px;
    }

    &__right {
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
    }

    &__info {
        position: absolute;
        right: 0;
        bottom: 125px;
        background-color: @red;
        padding: 21px 44px 20px 30px;
        display: flex;
        flex-direction: row;
        gap: 68px;

        &-img {
            width: 140px;
            height: 62px;

            img {
                width: 100%;
                height: 100%;
                object-fit: cover;
            }
        }
    }

    &__date {
        color: #FFF;
        font-size: 22.93px;
        font-style: normal;
        font-weight: 900;
        line-height: 145%;
        text-transform: uppercase;
    }

    &__place {
        color: #FFF;
        font-size: 14.724px;
        font-style: normal;
        font-weight: 300;
        line-height: 100%;
        text-transform: uppercase;
    }
}

@media(max-width: 1100px) {
    .banner {

        &__block {
            padding-left: 0;
        }

        &__content {
            gap: 30px;
        }
    }
}

@media(max-width: 920px) {
    .banner {
        padding-top: 38px;

        &__square {
            display: none;
        }

        &__block {
            flex-direction: column;
        }

        &__right {
            height: 134px;
        }
    }
}

@media(max-width: 600px) {
    .banner {
        &__content {
            padding: 17px 20px 36px 14px;
        }

        &__desc {
            font-weight: 300;
            max-width: 202px;
            line-height: 22px;
        }

        &__info {
            bottom: 80px;
            flex-direction: column-reverse;
            gap: 0;
            padding: 26px 49px 23px 30px;

            &-img {
                position: relative;
                width: 100%;
                height: 0;

                img {
                    position: absolute;
                    width: 116px;
                    height: 51px;
                    bottom: 7px;
                    right: -14px;
                }
            }
        }
    }
}